:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  margin: 0;
  background-color: var(--Very-Dark-Blue);
  color: var(--Pale-Blue);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background-image: url("images/bg-desktop.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.main {
  display: flex;
  flex-direction: column;
  padding: 5px;
  /* border: 2px dotted violet; */
}

.wrapper {
  display: flex;
  min-width: 900px;
  /* border: 1px solid red; */
}

.header-wrapper {
  flex: 1 1 auto;
  border-radius: 10px 80px 10px 10px;
  padding: 30px 120px 30px 30px;
  margin: 10px;
  background-color: var(--Dark-Blue);
  /* border: 2px dotted lawngreen; */
}

.header {
  display: flex;
  flex-wrap: wrap;
  max-width: 15vw;
  /* border: 1px solid fuchsia; */
}

.header > * {
  flex: 1 1 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 0 0;
  /* border: 1px solid cyan; */
}

.icons {
  display: inherit;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: var(--Very-Dark-Blue);
  /* border: 1px solid lawngreen; */
}

.icons:hover {
  cursor: pointer;
}

.icons:hover img {
  filter: invert(83%) sepia(8%) saturate(6743%) hue-rotate(334deg)
    brightness(119%) contrast(101%);
}

.content {
  display: flex;
  flex-direction: column;
  margin: 50px 10px 10px 10px;
  border-radius: 10px;
  background-color: var(--Dark-Blue);
  width: 100%;
  padding: 30px 30px 30px 30px;
  /* border: 1px solid orange; */
}

.message {
  width: inherit;
  height: auto;
  /* border: 1px solid lightseagreen; */
}

.message span {
  color: var(--Pale-Blue);
  font-weight: 700;
}

.storage-bar {
  position: relative;
  margin-top: 15px;
  height: 20px;
  background-color: var(--Very-Dark-Blue);
  border-radius: 20px;
  /* border: 1px solid red; */
}

.storage-used {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: inherit;
  height: inherit;
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  width: calc((815 / 1000) * 100%);
  /* border: 1px solid greenyellow; */
}

.indicator {
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 2px;
  /* border: 2px solid green; */
}

.data-limits {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-weight: 700;
  /* border: 1px solid limegreen; */
}

.bubble {
  display: none;
  position: absolute;
  left: 70%;
  width: 130px;
  border-radius: 10px 10px 0 10px;
  padding: 10px;
  margin-top: -17vh;
  background: white;
  /* border: 2px solid orange; */
}

.storage-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  color: var(--Grayish-Blue);
  font-size: 11px;
  font-weight: 500;
  /* border: 1px solid violet; */
}

.storage-left-message {
  font-size: xx-large;
  font-weight: 700;
  color: #000000;
}

.storage-left:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-right: 30px solid white;
  margin-left: 120px;
  margin-bottom: -65px;
}

.storage-bar:hover .bubble {
  display: block;
}

.attribution {
  padding: 10px;
  font-size: 11px;
  text-align: center;
  border: 1px solid orange;
}

.attribution a {
  color: var(--Grayish-Blue);
}

.attribution a:hover {
  color: #ffce36;
}

@media screen and (max-width: 930px) {
  body {
    background-image: url("images/bg-mobile.png");
  }

  .main {
    flex-wrap: wrap;
    /* border: 2px dotted violet; */
  }

  .wrapper {
    min-width: auto;
    max-width: auto;
    flex-wrap: wrap;
    /* border: 1px solid red; */
  }

  .content {
    margin: 10px;
  }

  .header {
    max-width: initial;
  }

  .bubble {
    bottom: -90px;
  }
}
